<h1>投稿一覧</h1>
  <p><%= flash[:notice] %></p>
<table>
  <th>タスク名</th>
  <th>タスク詳細</th>
  <th>終了期限</th>
  <th>作成日時</th>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.task_name %></td>
    <td><%= task.task_body %></td>
    <td><%= task.task_limit %></td>
    <td><%= task.created_at %></td>
    <td><%= link_to "詳細", task_path(task.id) %></td>
    <td><%= link_to "編集", edit_task_path(task.id) %></td>
    <td><%= link_to "削除", task_path(task.id),method: :delete, data: {confirm: "本当に削除して良いですか？" }%></td>
  </tr>
  <% end %>
</table>
<%= link_to "新規登録", new_task_path %><br>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %><br>
<%= link_to "新規登録順でソートする", tasks_path(sort_createday: "true") %>
